TS_monthly.nc filter=lfs diff=lfs merge=lfs -text
sal_temp_hist.nc filter=lfs diff=lfs merge=lfs -text
sal_temp_nrt.nc filter=lfs diff=lfs merge=lfs -text
temp_mtrx_lat_30_48_xdis_75km.nc filter=lfs diff=lfs merge=lfs -text
temp_mtrx_lat_30_48_xdis_150km.nc filter=lfs diff=lfs merge=lfs -text
