name: Python Download Basin

env:
  PYTHON_VERSION: "3.9"


on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: Run Python script
        run: python code_gha/download_basin_gha.py

      - name: git auto commit
        uses: stefanzweifel/git-auto-commit-action@v7

      - name: test upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: data_gha
