name: Python Download Basin

env:
  PYTHON_VERSION: "3.12"


on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: set pythonpath
        run: |
          echo "PYTHONPATH=code_gha/fun_gha/" >> $GITHUB_ENV


      - name: Run Python download data from Erddap
        run: python code_gha/BasinScaleIndicators/download_basin_gha.py

      - name: Run Python save data to R style CSV Monthly
        run: python code_gha/BasinScaleIndicators/create_oc_basin_M_std.py

      - name: Run Python save data to R style CSV Seasonal
        run: python code_gha/BasinScaleIndicators/create_oc_basin_S_std.py

      - name: git auto commit
        uses: stefanzweifel/git-auto-commit-action@v7
