name: Code1 Phenology UI, create CSV and plot

env:
  PYTHON_VERSION: "3.12"


on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/code1_basin_gha_requirements'

      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: set pythonpath
        run: |
          echo "PYTHONPATH=code_gha/fun_gha/" >> $GITHUB_ENV

      - name: code3_phenologyUI_gha, create STI, TUMI, LUSI
        run: python code_gha/phenologyUI/create_sti_lusi_tumi_A_std.py

      - name: code4_bakunUI_gha, plot IEA style phenology figures
        run: python code_gha/phenologyUI/plot_IEA_figs_A.py

      - name: Print dir tree and check disk space
        shell: bash {0}
        run: |
          tree
          df -h

      - name: git auto commit
        uses: stefanzweifel/git-auto-commit-action@v7
