name: Code1 DO CalCOFI IEA Time Series
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/code1_basin_gha_requirements'

      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: set pythonpath
        run: |
          echo "PYTHONPATH=code_gha/fun_gha/" >> $GITHUB_ENV
      - name: At select station get DO at certain depths
        run: python code_gha/DissolvedOxygen/calcofi_do_ts_at_depths_select_stations.py
      - name: Create IEA R style CSV files Monthly
        run: python code_gha/DissolvedOxygen/create_oc_do_calcofi_M_std.py
      - name: Create IEA R style CSV files Seasonal
        run: python code_gha/DissolvedOxygen/create_oc_do_calcofi_S_std.py
      - name: Plot IEA style seasonal figures
        run: python code_gha/DissolvedOxygen/plot_do_IEA_figs_calcofi_S.py

      - name: Print dir tree and check disk space
        shell: bash {0}
        run: |
          tree
          df -h
      - name: git auto commit -- save calcofi station netcdf
        uses: stefanzweifel/git-auto-commit-action@v7
