name: IEA plots of the HCI for the four regions
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/code1_basin_gha_requirements'

      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: set pythonpath
        run: |
          echo "PYTHONPATH=code_gha/fun_gha/" >> $GITHUB_ENV

      - name: plot month and season IEA R CSV
        run: python code_gha/HCI/plot_iea_figs_rgnMS.py

      - name: git auto commit -- save distance to shore mask netcdf
        uses: stefanzweifel/git-auto-commit-action@v7
