name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/code1_basin_gha_requirements'

      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: Setup gdrive
        uses: AnimMouse/setup-gdrive@v3
        with:
          service_account: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
      
      - run: gdrive --service-account gdrive.json about
