name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download from Google Drive
        uses: logickoder/google-drive-download@v1.0.1
        with:
          authType: 'service' # Optional, defaults to 'service'
          credentials: ${{ secrets.oc_cciea }}
          folderId: 1bmX2LvnhIpWm7HJMbSJUxlLs5w6SZMer
          filename: 'TS_monthl.nc'
          destination: './'

      - name: update sst oi monthly 
        run: python sst_oi_daily_v21_update.py

      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Upload file to Google Drive
        uses: Fork-on-the-Table-Collective/upload-to-drive@v2.0.0
        with:
          credentials: ${{ secrets.oc_cciea }}
          actionType: upload
          localPath: ./TS_monthly.nc
          googleFolderId: 1hERfCNn7oUjoZB6bY9VbF5-FGyGDot6m
