name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download file from Google Drive to ./out/ directory
        uses: k0staa/download-gdrive-file-action@v1
        with:
          service-account-auth-json: ${{ secrets.oc_cciea }}
          download-file-name: TS_monthly.nc
          download-to: ./
      - name: update sst oi monthly 
        run: python sst_oi_daily_v21_update.py

      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Upload file to Google Drive
        uses: Fork-on-the-Table-Collective/upload-to-drive@v2.0.0
        with:
          credentials: ${{ secrets.oc_cciea }}
          actionType: upload
          localPath: ./TS_monthly.nc
          googleFolderId: 1hERfCNn7oUjoZB6bY9VbF5-FGyGDot6m
