name: List files in Drive
on:
  push:
    branches:
      - master
jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - name: List files in Google Drive folder
        uses: id-sch/upload-to-drive@master
        id: list
        with:
          credentials: ${{ secrets.GSA_CREDENTIALS }}
          actionType: list
          googleFolderId: 1rOgKRRfBV9Zz7y08_6-4Fh5zd5S15JnA
      - name: Print folder files
        run: echo "${{ steps.list.outputs.folderFiles }}"
