
jobs:
  example_google_drive_download:
    runs-on: ...
    steps:
      - name: Acquire Google access token
        id: google-access-token
        uses: playeveryware/action-google-access-token@v1
        with:
          credentials: ${{ secrets.oc_cciea }}
          scope: 'https://www.googleapis.com/auth/drive.readonly'

      - name: Download file
        uses: playeveryware/action-google-drive-download@v1
        with:
          token: ${{ steps.google-access-token.outputs.token }}
          file-url: 'https://docs.google.com/document/d/1y2km_sVyb3pjTxpDVR3V_tOwU--TCQ93DHvCHsQeV6s/edit?usp=drive_link'
          path: hello.txt

      - name: Show file information
        run: |
          ls hello.txt