name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download file from Google Drive
        uses: <YOUR-GITHUB-USERNAME>/upload-to-drive@master
        with:
          credentials: ${{ secrets.SERVICE_ACCOUNT_KEY_JSON }}
          actionType: download
          localPath: ./TS_monthly.nc
          googleFileId: 10plKBKgm87p5FFXqiOEI2cpXP3nkTZWM

      - name: update sst oi monthly 
        run: python sst_oi_daily_v21_update.py

      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Upload file to Google Drive
        uses: Fork-on-the-Table-Collective/upload-to-drive@v2.0.0
        with:
          credentials: ${{ secrets.oc_cciea }}
          actionType: upload
          localPath: ./TS_monthly.nc
          googleFolderId: 1hERfCNn7oUjoZB6bY9VbF5-FGyGDot6m
