name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - name: List files in my Google Drive folder, needs encode service key
        uses: Fork-on-the-Table-Collective/upload-to-drive@v2.0.0
        id: list
        with:
          credentials: ${{ secrets.oc_cciea }}
          actionType: list
      - name: Print folder files
        run: echo "${{ steps.list.outputs.folderFiles }}"
