name: List files in Drive
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/code1_basin_gha_requirements'

      - run: python -m pip install -r .github/workflows/code1_basin_gha_requirements

      - name: set pythonpath
        run: |
          echo "PYTHONPATH=code_gha/fun_gha/" >> $GITHUB_ENV

      - name: create directory and file
        run: python test_gd_upload.py

      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Upload file to Google Drive, need to share with gc email
        uses: Fork-on-the-Table-Collective/upload-to-drive@v2.0.0
        with:
          credentials: ${{ secrets.SERVICE_ACCOUNT_KEY_JSON }}
          actionType: upload
          localPath: dir_test_gd/readme.txt
          googleFolderId: 1hERfCNn7oUjoZB6bY9VbF5-FGyGDot6m
